
   <!-- my info -->
    <section id="home">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-7 info">
                    <h3>Hi there,</h3>
                    <h4> Welcome to my portfolio! <br> I'm...</h4>
                    <p class="name">Neelma Niazi</p>
                    <h3 class="profession">Freelancer | Full Stack Developer | Programmer</h3>
                    <!-- <a class="btn btn-one" href="resume/Neelma Niazi Junior Web Developer Resume.pdf">Download My
                        CV</a>
                    <a class="btn btn-two" href="https://www.fiverr.com/users/neil0904" target="_blank">Hire Me</a> -->
                </div>
                <div class="col-5 rainbow-border">
                    <img src="pics/IMG-20200826-WA0011.jpg" alt="" class="image-fluid ">
                </div>
            </div>
        </div>
    </section>
