    <!-- My Projects -->
    
       <div class="container">
         
            <h1 class="text-center">My Projects </h1>

<div class="row justify-content-around mx-5">
             <!--Card starts-->
           <div class="card my-5 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 bg-transparent" style="width: 22rem;">
  <img src="pics/portfolio.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fw-bold text-center">Personal Portfolio</h5>
    <p class="card-text justify">Developed and showcased a personal portfolio website to
 highlight skills, experience, and projects in a visually appealing
 and user-friendly manner. Fully responsive and cross-browser
 compatible</p>
 <p class="card-text"><strong>Technologies: </strong>HTML5, CSS3, Bootsrap5, Angular19</p>
<!--   
    <a href="#" class="btn card-btn">View Detail</a> -->
  </div>
</div> <!--Card ends-->

<!--Card starts-->
           <div class="card my-5 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12  bg-transparent" style="width: 22rem;">
  <img src="pics/pg.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fw-bold text-center">Pakistan Giving</h5>
    <p class="card-text justify">Working on a charity website (frontend/backend) that has portfolio, blog, eShop, payment integration,
       multiple dashboards, external logins, database, and much more. A website that is fully responsive and 
       cross-browser compatible</p>
 <p class="card-text"><strong>Technologies: </strong>HTML5, CSS3, Bootsrap5, Asp.Net Core 6 MVC, Javascript,
 jQuery</p>
<!--   
    <a href="#" class="btn card-btn">View Detail</a> -->
  </div>
</div> <!--Card ends-->

<!--Card starts-->
           <div class="card my-5 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12  bg-transparent" style="width: 22rem;">
  <img src="pics/Nature Media.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fw-bold text-center"> Nature Media</h5>
    <p class="card-text justify">Created a beautiful, appealing static natural photography website with animation, parallax 
     effects, and other advanced css features. A website that is fully responsive and cross-browser compatibel.</p>
 <p class="card-text"><strong>Technologies: </strong>HTML5, CSS3, Bootsrap5, Javascript,
 jQuery</p>
<!--   
    <a href="#" class="btn card-btn">View Detail</a> -->
  </div>
</div> <!--Card ends-->

<!--Card starts-->
           <div class="card my-5  col-lg-4 col-md-4 col-sm-6 col-12  bg-transparent" style="width: 22rem;">
  <img src="pics/bopk.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fw-bold text-center"> Businessonline.pk</h5>
    <p class="card-text justify">Created admin panel, integrated Restful APIs, enabling clients to manage content
 seamlessly</p>
 <p class="card-text"><strong>Technologies: </strong>HTML5, CSS3, Bootsrap5, Asp.Net Core 6 MVC, Javascript,
 jQuery</p>
<!--   
    <a href="#" class="btn card-btn">View Detail</a> -->
  </div>
</div> <!--Card ends-->

<!--Card starts-->
           <div class="card my-5 col-lg-4 col-md-4 col-sm-6 col-12 bg-transparent" style="width: 22rem;">
  <img src="pics/Taaj.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fw-bold text-center"> Taaj.pk</h5>
    <p class="card-text justify"> Worked on fully functional dynamic website,
 incorporating digital card and online verification, filtered and
 seamless searching, Customer form submission, email
 notification, and streamlined checkout process</p>
 <p class="card-text"><strong>Technologies: </strong>HTML5, CSS3, Bootsrap5, Asp.Net Core 6 MVC, Javascript,
 jQuery</p>
<!--   
    <a href="#" class="btn card-btn">View Detail</a> -->
  </div>
</div> <!--Card ends-->

<!--Card starts-->
           <div class="card my-5 col-lg-4 col-md-4 col-sm-6 col-12 bg-transparent" style="width: 22rem;">
  <img src="pics/workspotter.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fw-bold text-center">Work Spotter</h5>
    <p class="card-text justify">Developed a comprehensive job portal website, facilitating
 seamless job searching, application submission, and candidate
employer interactions. Fully responsive and cross-browser
 compatible</p>
 <p class="card-text"><strong>Technologies: </strong>HTML5, CSS3, Bootsrap5, Javascript/jQuery</p>
<!--   
    <a href="#" class="btn card-btn">View Detail</a> -->
  </div>
</div> <!--Card ends-->

</div>
        </div>
