 <!-- skills -->
    <section id="skills">
        <div class="container-fluid">
            
                <h1>MY SKILLS</h1>
            <div class="row mt-3">
                
                    <div class="col-sm-6 IT-skills">
                        <h2>Technical Skills</h2>

                        <div class="skills-container">
                            <div class="skill">
                                <div class="skill-title">HTML5</div>
                               <div class="skill-bar" value="90%">
                                <div class="skill-line" style="max-width: 90%"></div>
                            </div>
                             </div>
                            <div class="skill">
                                <div class="skill-title">CSS3/SASS/SCSS</div>
                                <div class="skill-bar" value="60%">
                                <div class="skill-line" style="max-width: 60%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">JavaScript(ES6)</div>
                                <div class="skill-bar" value="50%">
                                <div class="skill-line" style="max-width: 50%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">JQuery</div>
                                <div class="skill-bar" value="20%">
                                <div class="skill-line" style="max-width: 20%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">Bootstrap5</div>
                                <div class="skill-bar" value="86%">
                                <div class="skill-line" style="max-width: 86%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">ReactJS</div>
                                <div class="skill-bar" value="35%">
                                <div class="skill-line" style="max-width: 35%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">NodeJS</div>
                                <div class="skill-bar" value="10%">
                                <div class="skill-line" style="max-width: 10%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">Asp.Net core/C#</div>
                                <div class="skill-bar" value="50%">
                                <div class="skill-line" style="max-width: 60%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">Angular</div>
                                <div class="skill-bar" value="20%">
                                <div class="skill-line" style="max-width: 20%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">OOP</div>
                                <div class="skill-bar" value="70%">
                                <div class="skill-line" style="max-width: 70%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">github</div>
                                <div class="skill-bar" value="60%">
                                <div class="skill-line" style="max-width: 60%"></div>
                            </div>
                            </div>
                            <div class="skill">
                                <div class="skill-title">Figma to HTML</div>
                                <div class="skill-bar" value="90%">
                                <div class="skill-line" style="max-width: 90%"></div>
                            </div>
                            </div>
                        </div><!-- technical skills-container closed -->
                    </div><!-- IT skills closed -->
                

                   
                        <div class="col-sm-6 professional-skills">
                            <h2>Professional Skills</h2>
                            <div class="skills-container">
                                <div class="skill">
                                    <div class="skill-title">Team Work (Hybrid)</div>
                                    <div class="skill-bar" value="99%">
                                    <div class="skill-line" style="max-width: 99%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Time Management</div>
                                    <div class="skill-bar" value="99%">
                                    <div class="skill-line" style="max-width: 99%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Planning</div>
                                    <div class="skill-bar" value="86%">
                                    <div class="skill-line" style="max-width: 86%"></div>
                                </div>
                                </div>

                                <div class="skill">
                                    <div class="skill-title">Organising</div>
                                    <div class="skill-bar" value="95%">
                                    <div class="skill-line" style="max-width: 95%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Administration</div>
                                    <div class="skill-bar" value="99%">
                                    <div class="skill-line" style="max-width: 99%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Communication</div>
                                    <div class="skill-bar" value="98%">
                                    <div class="skill-line" style="max-width: 98%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Decision Making</div>
                                    <div class="skill-bar" value="86%">
                                    <div class="skill-line" style="max-width: 86%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Detail-Oriented</div>
                                    <div class="skill-bar" value="95%">
                                    <div class="skill-line" style="max-width: 95%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Creative</div>
                                    <div class="skill-bar" value="95%">
                                    <div class="skill-line" style="max-width: 95%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Conflict Management</div>
                                    <div class="skill-bar" value="95%">
                                    <div class="skill-line" style="max-width: 95%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Stress Management</div>
                                    <div class="skill-bar" value="95%">
                                    <div class="skill-line" style="max-width: 95%"></div>
                                </div>
                                </div>
                                <div class="skill">
                                    <div class="skill-title">Leadership</div>
                                    <div class="skill-bar" value="96%">
                                    <div class="skill-line" style="max-width: 96%"></div>
                                </div>
                                </div>


                            </div>
                        </div><!-- professional skills closed -->
                    
                
            </div><!-- row closed -->
        </div><!-- container closed -->

    </section>

